@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
body{
    font-family: "Inter";
    background-color: black;
}
*{
    margin: 0;
   
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
   
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;


    
}

.ham-burger{
    display: none;
}
.span{
    color: rgb(230, 83, 60);
font-size: 36px;
font-weight: 800;
margin-bottom: 10px;
font-style: italic;
}
.home{
    border-radius: 46px;

background: rgb(230, 83, 60);
padding: 8px 20px 8px 20px;

}
.banner{
    
    display: flex;
    justify-content: space-between;
}
.banner-dvi1-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 58px;
    font-weight: 900;
    text-align: left;  
    
}

.shape{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-style: italic;
    font-weight: 100;
}
.banner-div1-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 20px;
}
.banner-div1-buttons{
    display: flex;
    gap: 20px;
}
.banner-div1-button1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    
    text-align: left; 
    border-radius: 42px;

background: rgb(230, 83, 60);
padding: 12px 30px 12px 30px;
border: none;
margin-top: 20px;
}
.banner-div1-button2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
   
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;

    padding: 12px 30px 12px 30px;

margin-top: 20px;
background-color: black;

    
}
.red-circle{
    width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  border-radius: 50%;
}
.container-350{
    display: flex;
    gap: 15px;
   
   
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 20px;
    border: none; 
    position: absolute;
    left: 1264px;
    top: 656px;
    
}
.container-350 p{
    background-color: rgba(48, 48, 48, 0.54);
    text-align: left;
    background-color: transparent;
}
.desc-350{
    color: white;
   
    
  
}
.container-500{
    display: flex;
    gap: 15px;
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 20px;
    border: none; 
    position: absolute;
    left: 1494px;
    top: 350px;


}
.container-500 p{
    background-color: rgba(48, 48, 48, 0.54);
    text-align: left; 
    background-color: transparent;  
}

.habits-title-banner{
    text-align: center;
}

.habits-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    
   
   
  
}
.habits-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: center;

}
.img-div1{
    
    display: flex;
    justify-content: center;
    align-items: center;
 
    text-align: center;
    gap: 130px;
    margin-top: 40px;


}
.img-div1 img{
    border-radius: 50%;
    height: 100%;
    
}
.img-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;

text-align: center;
margin-top: 10px;
}
.img-subtitle{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: center;
margin-top: 5px;
}
.runner-parent{
    padding: 90px;
}
.runner{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    border-radius: 18px;

background: rgb(34, 34, 34);



}
.runner img{
  /* Rectangle 22 */
/* position: absolute; */
width: 376px;
height: 366px;
/* left: 1162px;
top: 1640px; */
border-radius: 18px;

   
   
}
.runner-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;

text-align: left;
margin-left: 20px;
margin-top: 20px;

}
.runner-subtitle{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: left;
margin-left: 20px;
background: transparent;
}
.runner-button{
    border-radius: 42px;

    background: rgb(230, 83, 60); 
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;

text-align: left;

padding: 14px 30px 14px 30px;
margin: 34px 0px;
border: none;
}
.runner-button-parent{
    margin-left: 20px;
}

.runner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bmi-banner{
    display: flex;
    flex-direction: column;
    
    text-align: left;
    margin-left: 600px;
  
}
.bmi-calculator{
    padding: 30px;
}
.bmi-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;

text-align: left;
margin-bottom: 10px;

}
.bmi-subtitle{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: left;
    
}
.bmi-parent{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-evenly;
    padding: 90px;
   
  
}
.bmi-calculator{
    margin-left: 100px;
   
    
    
   
    
    
  
}

table,th,tr,td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 8px;
   
   
    
}
.bmi-chart-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    
    text-align: left;
    margin-bottom: 30px;
   
}
.calculate-bmi{
    padding: 30px;
}
.calculate-bmi-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 900;

text-align: left;
margin-bottom: 20px;
}
.calculate-bmi-subtitle{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: left;
margin-bottom: 15px;
}

input[type="text"], input[type="number"], select {
    width: calc(50% - 5px); 
    padding: 10px;
    font-size: 14px;
background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
table{
    height: 210px;
    width: 450px;
}
#factor{
    width:calc(100% - 5px);
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;   
}
.calculate{
    border-radius: 42px;

    background: rgb(230, 83, 60); 
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;

text-align: left;
margin-top: 10px;
padding: 12px 30px 12px 30px;
border: none;
}
.meet-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;

text-align: center;
}
.meet-subtitle{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    
    text-align: center;
    margin-bottom: 20px;
}
.meet-div1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.meet-div1 img{
    width: 492px;
height: 372px;
border-radius: 18px;
gap: 40px;

}
.trainer-card{
    position: relative;
}
.trainer-title{
color: white;
position: absolute;
    top: 80%;
    left: 5%;
    font-weight: 800;
}
.trainer-subtitle{
color: white;
position: absolute;
    top: 85%;
    left: 5%;
    color: #b7b4b4;
}
/* table{
    height: 210px;
    width: 310px;
} */



/* .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



.footer-div1-paragraph{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;

text-align: left;
}
.get-started{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    
    text-align: left;  
    margin-bottom: 10px;
}
.footer-blog{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    
   
    text-align: left; 
    margin-bottom: 5px;
}
.footer-parent{
    display: flex;
    
    background: rgb(34, 34, 34);
    padding: 90px;
    gap: 300px;
    
}
.custom-hr {
    
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px; 
    margin-bottom: 40px;
}
.all-right{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;

text-align: center;
}


.extra-card{
    display: flex;
    gap: 20px;
}
.day-pass{
    
    height: 600px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(51, 50, 48);
    margin-top: 45px;
   
}
.day-title{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 120px;
    font-weight: bold;
    font-size: 50px;

}
.day-subtitle{
    color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 175px;
    font-weight: 400;
    margin-top: 5px;
    font-size: 44px;

}
.day-subtitle2{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 185px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 40px;

}
.day-blog{
    color: white;
    font-weight: 200;
    margin-bottom: 5px;
}
.day-blog i{
    color: rgb(69, 74, 69);
}
.month-pass{
    
    height: 700px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    justify-content: center;
    font-size: 35px;
    background-color:white;
   
}
.day-button{
    padding: 20px 130px 20px 130px;
    margin-top: 40px;
    margin-left: 25px;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.month-title{
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    font-weight: bold;
    font-size: 44px;

}
.month-subtitle{
    color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
    font-weight: 400;
    margin-top: 5px;
    font-size: 44px;

}
.month-subtitle2{
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 185px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 40px;

}
.month-blog{
    color: black;
    font-weight: 200;
    margin-bottom: 10px;
}
.month-blog i{
    color: green;
    
}
.month-button{
    padding: 20px 130px 20px 130px;
    margin-top: 40px;
    margin-left: 25px;
    color: black;
    font-weight: 600;
    font-size: 18px;
    background-color: green;
}
.extra{
    display: flex;
    gap: 90px;
    align-items: center;
}


.membership-title{
    color:rgb(182, 177, 177);
    font-size: 34px;
    margin-bottom: 30px;
    font-weight: bold;
}
.membership-subtitle{
    color:white;
    font-size: 44px;
    margin-bottom: 30px;
    font-weight: 300;
    
}
.membership-paragraph{
    color:rgb(182, 177, 177);
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 400;
    
}
.membership-plan{
    color:white;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 300;
}
.membership-blog{
    color:rgb(182, 177, 177);
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;


}
.membership-blog i{
    color: green;
}

@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }

    .ham-burger{
        display: block;
        color: white;
    }
    .container{
        margin: 3rem auto; 
     }
     .banner{
        flex-direction: column;
        gap:22px;
        
     }
     .container-350{
        left:36px;
        top:970px;
     }
     .container-500{
        left:210px;
        top:750px;
     }
     .img-div1{
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
        
     }
     .img-div1 img{
        margin-top: 20px;
     }
     .img-title{
        margin-top: 20px;
     }
     .img-subtitle{
        margin-top: 5px;
     }
     .runner{
        flex-direction: column;
       
     }
     .runner-title{
        font-size: 18px;
        margin-bottom: 10px;
     }
     .runner-subtitle{
        font-size: 12px;
        
     }
     
     .runner img{
        width: 336px;
        height: 219px;
        margin-top: 20px;
        background-color: transparent;
    
     }
     .bmi-banner{
        margin-left: 30px;
        
     }
     .bmi-parent{
        flex-direction: column;
     }
     .bmi-calculator{
        margin-left: 0px;
     }
     .bmi-chart-title{
        font-size: 14px;
       
     }
     .calculate-bmi-title{
        font-size: 16px;
     }
     .meet-div1{
        grid-template-columns: repeat(1, 1fr);
        
     }
     .meet-div1 img{
        margin-bottom: 20px;
    
    }
    .trainer-title{
        left: 15%;
    }
    .trainer-subtitle{
        left: 15%;

    }
    .footer-parent{
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
        gap: 5px;
        
        
        
    }
    
    .footer-div1,.footer-div2, .footer-div3{
        margin-bottom: 20px;
    }
    table{
        height: 200px;
        width: 250px;
    }
    .span{
        margin-bottom: 5px;
    }
    .custom-hr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .all-right{
        justify-content: flex-start;
    }
    .banner-div1-button1{
        font-size: 11px;
        

    }
    .banner-div1-button2{
        font-size: 11px;
        

    }
    .calculate-bmi-title{
        margin-bottom: 10px;
    }
    .calculate-bmi-subtitle{
        margin-bottom: 10px;
    }
    .extra{
        flex-direction: column;
        
    }
    .extra-card{
        flex-direction: column;
        gap: 20px;
        
       
    }
    .day-blog{
        margin-left: 25px;
    }
    .day-button{
        margin-left: 10%;
        font-size: 12px;
        cursor: pointer;
    }
    .month-blog{
        margin-left: 25px;
    }
    .month-button{
        margin-left: 10%;
        font-size: 12px;
        cursor: pointer;
    }
    
}
   
